@font-face {
  font-family: "LibreBaskerville";
  src: url("LibreBaskerville-Regular.ttf");
}
@font-face {
  font-family: "OverpassMono";
  src: url("OverpassMono-Regular.ttf");
}
body, p, ul, ol, li, table {
  font-family: LibreBaskerville, Optima, Candara, Calibri, Arial, sans-serif;
}
code, code#descclassname, code#descname, span#pre {
  font-family: OverpassMono, "Lucida Console", Monaco, monospace;
}
